server:
  port: 9090

spring:
  application:
    name: customer

  datasource:
    url: jdbc:postgresql://localhost:5432/customer

    username: myuser
    password: mypass


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.hibernate.SQL: DEBUG


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

    fetch-registry: true
    register-with-eureka: true


