server:
  port: 8097

spring:
  application:
    name: notification


  datasource:
    url: jdbc:postgresql://localhost:5432/notification

    username: myuser
    password: mypass

  rabbitmq:
    addresses: localhost:5672


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true


logging:
  pattern:
    console: "[%X{traceId:-},%X{spanId:-}] %msg%n"


management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans



rabbitmq:
  exchange:
    internal: internal-exchange
  queue:
    notif: notif-queue
  routing-keys:
    int: internal-key
