server:
  port: 8085

spring:


  application:
    name: fraud

  datasource:
    url: jdbc:postgresql://localhost:5432/fraud

    username: myuser
    password: mypass


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

logging:
  pattern:
    console: "[%X{traceId:-},%X{spanId:-}] %msg%n"

management:
  tracing:
    enabled: true

    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans